

.custom{
    background-color: bisque;
    .custom-m{
        margin: 10px;
        height:350px;
        width:200px;
}
      }
        
        @media screen and (max-width: 536px){}
          
  
          .custom-btn{
            padding: 2px;
          }
          
          
        
        .link{
            text-decoration: none;
            color: rgb(199, 199, 103);
            display: block;
            margin-top: 5px;
        }

        .footer{
          height: 250px;
          background-color: rgb(14, 13, 13);
          color: white;
          margin-top: 5px;
      }
      
      .footer-item{
          width: 33%;
          float: left;
          margin-top: 15px;
          
          
      }
      
      .link{
          text-decoration: none;
          color: beige;
          display: block;
          margin-top: 3px;
      }

      
      
      
